.index {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .div {
    background-color: #fbfbfb;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .index .footer {
    background-color: #ff0000;
    height: 62px;
    left: 0;
    position: fixed;
    top: 962px;
    width: 1440px;
  }
  
  .index .reserved {
    height: 31px;
    left: 51px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 505px;
  }
  
  .index .aboutus {
    height: 35px;
    left: 1160px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 81px;
  }
  
  .index .privacynotice {
    height: 38px;
    left: 1271px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 112px;
  }
  
  .index .body-bg {
    height: 425px;
    left: -20px;
    position: fixed;
    top: 353px;
    width: 1482px;
  }
  
  .index .floating-diamond {
    height: 287px;
    left: 20px;
    position: absolute;
    top: 25px;
    width: 136px;
  }
  
  .index .img {
    height: 287px;
    left: 1325px;
    position: absolute;
    top: 0;
    width: 135px;
  }
  
  .index .salary {
    height: 143px;
    left: 957px;
    position: absolute;
    top: 282px;
    width: 306px;
  }
  
  .index .overlap-group {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/scard-5@2x.png);
    background-size: 100% 100%;
    height: 151px;
    left: -4px;
    position: relative;
    width: 310px;
  }
  
  .index .overlap {
    height: 74px;
    left: 26px;
    position: absolute;
    top: 13px;
    width: 217px;
  }
  
  .index .stitle {
    color: #ff2800;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 0;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 48px;
    white-space: nowrap;
    width: 217px;
  }
  
  .index .s-icon {
    height: 50px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .index .s-desc {
    color: #555555;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 29px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 94px;
    width: 268px;
  }
  
  .index .pensioner {
    height: 143px;
    left: 582px;
    position: absolute;
    top: 282px;
    width: 306px;
  }
  
  .index .ptitle {
    color: #ff2800;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 19px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 68px;
    white-space: nowrap;
    width: 217px;
  }
  
  .index .p-desc {
    color: #555555;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 24px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 94px;
    width: 268px;
  }
  
  .index .p-icon {
    height: 50px;
    left: 19px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 50px;
  }
  
  .index .SBL {
    height: 143px;
    left: 206px;
    position: absolute;
    top: 282px;
    width: 306px;
  }
  
  .index .SB-ltitle {
    color: #ff2800;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 25px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 68px;
    white-space: nowrap;
    width: 217px;
  }
  
  .index .SBL-desc {
    color: #555555;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 25px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 94px;
    width: 268px;
  }
  
  .index .SBL-icon {
    height: 50px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 50px;
  }
  
  .index .QCL {
    height: 143px;
    left: 957px;
    position: absolute;
    top: 82px;
    width: 306px;
  }
  
  .index .QC-ltitle {
    color: #ff2800;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 26px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
    width: 163px;
  }
  
  .index .QCL-desc {
    color: #555555;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 29px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 93px;
    width: 268px;
  }
  
  .index .QCL-icon {
    height: 50px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 50px;
  }
  
  .index .housing {
    height: 143px;
    left: 582px;
    position: absolute;
    top: 82px;
    width: 306px;
  }
  
  .index .hltitle {
    color: #ff2800;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 19px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
    width: 136px;
  }
  
  .index .h-desc {
    color: #555555;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 24px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 93px;
    width: 268px;
  }
  
  .index .h-icon {
    height: 50px;
    left: 19px;
    position: absolute;
    top: 7px;
    width: 50px;
  }
  
  .index .overlap-group-2 {
    height: 52px;
    position: relative;
    top: -1px;
    width: 51px;
  }
  
  .index .vector {
    height: 52px;
    left: 12px;
    position: absolute;
    top: 0;
    width: 39px;
  }
  
  .index .rectangle {
    background-color: #d9d9d9;
    border: 2px solid;
    border-color: #ff2800;
    height: 5px;
    left: 17px;
    position: absolute;
    top: 3px;
    width: 29px;
  }
  
  .index .vector-2 {
    height: 2px;
    left: 26px;
    position: absolute;
    top: 12px;
    width: 22px;
  }
  
  .index .vector-3 {
    height: 2px;
    left: 26px;
    position: absolute;
    top: 16px;
    width: 22px;
  }
  
  .index .vector-4 {
    height: 2px;
    left: 26px;
    position: absolute;
    top: 20px;
    width: 22px;
  }
  
  .index .vector-5 {
    height: 2px;
    left: 15px;
    position: absolute;
    top: 27px;
    width: 32px;
  }
  
  .index .vector-6 {
    height: 2px;
    left: 17px;
    position: absolute;
    top: 30px;
    width: 30px;
  }
  
  .index .vector-7 {
    height: 2px;
    left: 21px;
    position: absolute;
    top: 33px;
    width: 27px;
  }
  
  .index .vector-8 {
    height: 2px;
    left: 22px;
    position: absolute;
    top: 35px;
    width: 26px;
  }
  
  .index .vector-9 {
    height: 2px;
    left: 21px;
    position: absolute;
    top: 38px;
    width: 27px;
  }
  
  .index .vector-10 {
    height: 2px;
    left: 20px;
    position: absolute;
    top: 41px;
    width: 27px;
  }
  
  .index .shape-copy {
    height: 1px;
    left: 15px;
    position: absolute;
    top: 16px;
    width: 11px;
  }
  
  .index .p {
    height: 12px;
    left: 18px;
    position: absolute;
    top: 13px;
    width: 5px;
  }
  
  .index .ellipse {
    background-color: #e2b5b5;
    border: 2px solid;
    border-color: #ff2800;
    border-radius: 11.9px/10.14px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 24px;
  }
  
  .index .group {
    height: 12px;
    left: 4px;
    position: absolute;
    top: 29px;
    width: 15px;
  }
  
  .index .vehicle {
    height: 143px;
    left: 206px;
    position: absolute;
    top: 82px;
    width: 306px;
  }
  
  .index .overlap-2 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e41e67e1c2a81b98b3c871/img/vlcard.png);
    background-size: 100% 100%;
    height: 151px;
    left: -4px;
    position: relative;
    width: 310px;
  }
  
  .index .vltitle {
    color: #ff2800;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 25px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 65px;
    white-space: nowrap;
  }
  
  .index .v-desc {
    color: #555555;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 25px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 93px;
  }
  
  .index .v-icon {
    height: 50px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 50px;
  }
  
  .index .header {
    background-color: transparent;
    height: 307px;
    left: 0;
    position: fixed;
    top: 71px;
    width: 1443px;
  }
  
  .index .overlap-3 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e41e67e1c2a81b98b3c871/img/banner-img.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 307px;
    position: relative;
    width: 1440px;
  }
  
  .index .bannertitle {
    color: #fbfbfb;
    font-family: "Montserrat", Helvetica;
    font-size: 47px;
    font-weight: 600;
    left: 59px;
    letter-spacing: 2.67px;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 50px;
    width: 507px;
  }
  
  .index .existing-loan-btn {
    height: 54px;
    left: 283px;
    position: absolute;
    top: 181px;
    width: 206px;
  }
  
  .index .overlap-group-3 {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 4px #00000040;
    height: 54px;
    position: relative;
    width: 202px;
  }
  
  .index .overlap-4 {
    height: 35px;
    left: 82px;
    position: absolute;
    top: 5px;
    width: 109px;
  }
  
  .index .m-ltxtt {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .index .m-ltxt {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 109px;
  }
  
  .index .ml-btn {
    height: 43px;
    left: 21px;
    position: absolute;
    top: 4px;
    width: 46px;
  }
  
  .index .download-btn {
    height: 54px;
    left: 59px;
    position: absolute;
    top: 181px;
    width: 206px;
  }
  
  .index .overlap-group-4 {
    height: 35px;
    left: 84px;
    position: absolute;
    top: 5px;
    width: 85px;
  }
  
  .index .dltxtt {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 0;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 85px;
  }
  
  .index .dltxt {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 17px;
    white-space: nowrap;
    width: 85px;
  }
  
  .index .dl-btn {
    height: 40px;
    left: 13px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 53px;
  }
  
  .index .top-bar {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e41e67e1c2a81b98b3c871/img/logo@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 34px;
    left: 37px;
    position: fixed;
    top: 19px;
    width: 200px;
  }
  
  .index .download-popup {
    background-color: #00000066;
    height: 1024px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1440px;
  }
  
  .index .qrcode-card {
    height: 380px;
    left: 497px;
    position: absolute;
    top: 282px;
    width: 428px;
  }
  
  .index .overlap-group-5 {
    background-color: #ffffff;
    height: 380px;
    position: relative;
    width: 426px;
  }
  
  .index .instructiontxt {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 100px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 342px;
    width: 237px;
  }
  
  .index .mlwallet-qr-code {
    height: 322px;
    left: 45px;
    position: absolute;
    top: 8px;
    width: 336px;
  }
  
  .index .alertinfo {
    height: 52px;
    left: 477px;
    position: absolute;
    top: 154px;
    width: 462px;
  }
  
  .index .overlap-5 {
    background-color: #0077ff;
    height: 52px;
    position: relative;
    width: 460px;
  }
  
  .index .dl-text {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 66px;
    letter-spacing: 2.67px;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 383px;
  }
  
  .index .dl-icon {
    height: 40px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 40px;
  }
  