.customer-requirement {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .customer-requirement .div {
    background-color: #fbfbfb;
    height: 1068px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .customer-requirement .overlap-group {
    background: linear-gradient(180deg, rgb(255, 0, 0) 0%, rgba(217, 217, 217, 0) 100%);
    height: 79px;
    position: relative;
    width: 1440px;
  }
  
  .customer-requirement .text-wrapper {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 58px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
  }
  
  .customer-requirement .body-bg {
    height: 730px;
    left: 220px;
    position: absolute;
    top: 160px;
    width: 1032px;
    justify-content: center;
    align-items: center;
  }
  .customer-requirement .requireddocumente {
    height: 224px;
    left: 272px;
    position: absolute;
    top: 416px;
    width: 764px;
  }
  
  .customer-requirement .overlap-4 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64f13348e9f50c7315603815/img/requireddocumente-card.png);
    background-size: 100% 100%;
    height: 224px;
    position: relative;
    width: 760px;
  }
  
  .customer-requirement .requireddocument {
    color: #d20101;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 64px;
    letter-spacing: -0.24px;
    line-height: 24px;
    position: absolute;
    top: 11px;
    white-space: nowrap;
  }
  
  .customer-requirement .reqdocdetails {
    color: #555555;
    font-family: "Lato", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 64px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 35px;
    white-space: nowrap;
  }
  
  .customer-requirement .employed {
    height: 24px;
    left: 196px;
    position: absolute;
    top: 67px;
    width: 99px;
  }
  
  .customer-requirement .text-wrapper-5 {
    color: #555555;
    font-family: "Lato", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }
  
  .customer-requirement .div-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #fb0000;
    border-radius: 8px;
    height: 16px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 16px;
  }
  
  .customer-requirement .ellipse {
    height: 8px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 8px;
  }
  
  .customer-requirement .selfemployed {
    height: 24px;
    left: 338px;
    position: absolute;
    top: 67px;
    width: 131px;
  }
  
  .customer-requirement .valid-ID {
    height: 83px;
    left: 219px;
    position: absolute;
    top: 111px;
    width: 65px;
  }
  
  .customer-requirement .valid-i-dicon {
    height: 50px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  .customer-requirement .valid-i-dtxt {
    color: #333333;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 8px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 50px;
    white-space: nowrap;
  }
  .customer-requirement .mayor-s-cert {  
    height: 81px;  
    left: 339px;  
    position: absolute;  
    top: 111px;  
    width: 82px;
  }
  .customer-requirement .certficate 
  { 
    height: 50px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 50px;
  }
  .customer-requirement .text-wrapper-6 {  
    color: #333333;  
    font-family: "Roboto", Helvetica;  
    font-size: 14px;  
    font-weight: 400;  
    left: 0;  
    letter-spacing: -0.33px;  
    line-height: normal;  
    position: absolute;  
    top: 49px;  
    white-space: nowrap;  
    width: 78px;
  }
  .customer-requirement .text-wrapper-13 {  
    color: #666666;  
    font-family: "Roboto", Helvetica;  
    font-size: 12px;  
    font-style: italic;  
    font-weight: 400;  
    left: 5px;  
    letter-spacing: -0.33px;  
    line-height: normal;  
    position: absolute;  
    top: 67px;  
    white-space: nowrap;  
    width: 66px;
  }
.customer-requirement .bank-statement {  
  height: 81px;  
  left: 455px;  
  position: absolute;  
  top: 111px; 
  width: 99px;
}
.customer-requirement .credit-card {  
  height: 49px;  
  left: 17px;  
  object-fit: cover;  
  position: absolute; 
    top: 0;  width: 50px;
  }
.customer-requirement .text-wrapper-8 {  
    color: #333333;  
    font-family: "Roboto", Helvetica;  
    font-size: 14px;  
    font-weight: 400;  
    left: 0;  
    letter-spacing: -0.33px;  
    line-height: normal;  
    position: absolute;  
    top: 50px;  
    white-space: nowrap;  
    width: 95px;
  }
.customer-requirement .text-wrapper-9 {  
    color: #666666;  font-family: "Roboto", Helvetica;  
    font-size: 12px;  
    font-style: italic;  
    font-weight: 400;  
    left: 18px;  
    letter-spacing: -0.33px;  
    line-height: normal;  
    position: absolute;  
    top: 67px;  
    white-space: nowrap;  
    width: 47px;
  }
  
  .customer-requirement .submit-btn {
    align-items: center;
    background: linear-gradient(180deg, rgb(254, 0, 0) 0%, rgb(210, 1, 1) 100%);
    border-radius: 4px;
    display: flex;
    gap: 10px;
    height: 60px;
    justify-content: center;
    left: 476px;
    padding: 16px;
    position: absolute;
    top: 670px;
    width: 341px;
    cursor: pointer;
  }
  
  .customer-requirement .text-wrapper-7 {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.26px;
    line-height: 24px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .customer-requirement .body-bg {
      left: 10px;
      width: 100%;
    }
    .customer-requirement .vehicledocument {
      width: 90%;
      left: 10px;
      top:70px;
    }
    .customer-requirement .icon-group--wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .customer-requirement .overlap {
      width:100%;
      left: 0px;
    }
    .customer-requirement .vehicledocument-2 {
      left: 20px;
      top: 14px;
    }
    .customer-requirement .OR-CR,.customer-requirement .stensil,.customer-requirement .carinsurance{
      top:60px;
      cursor: pointer;
      position: relative;
      width: 33%;
      left: 10px;
    }
    .customer-requirement .lcar{
      top:65px;
      cursor: pointer;
      position: relative;
      width: 100%;
      left: 30px;
    }
    .customer-requirement .fcar,.customer-requirement .bcar,.customer-requirement .rcar{
      top:60px;
      cursor: pointer;
      position: relative;
      width: 33%;
      left: 30px;
    }
    .customer-requirement .requireddocumente {
      left: 10px;
      top: 440px;
      width: 90%;
    }
    
    .customer-requirement .overlap-4 {
      width:100%;
      left: 0px;
      display: flex;
      flex-wrap: wrap;
    }
    .customer-requirement .employed,.customer-requirement .selfemployed{
      top:65px;
      left: 25px;
    }
    .customer-requirement .selfemployed{
      top:65px;
      left: 160px;
    }
    .customer-requirement .valid-ID,.customer-requirement .mayor-s-cert,.customer-requirement .bank-statement{
      top:110px;
      cursor: pointer;
      position: relative;
      width: 30%;
      left:30px;
    }
    .customer-requirement .requireddocument {
      font-size: 20px;
      left:20px;
    }
    .customer-requirement .reqdocdetails {
      font-size: 13px;
      left: 20px;
    }
    .customer-requirement .submit-btn {
      align-items: center;
      justify-content: center;
      left: 10px;
      top: 740px;
      width: 90%;
      cursor: pointer;
      height: 50px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .customer-requirement .body-bg {
      left: 10px;
      width: 100%;
    }
    .customer-requirement .requireddocumente {
      left: 10px;
      top: 440px;
      width: 92%;
    }
    
    .customer-requirement .overlap-4 {
      width:100%;
      left: 0px;
      display: flex;
      flex-wrap: wrap;
    }
    .customer-requirement .employed{
      top:65px;
      left: 35px;
    }
    .customer-requirement .selfemployed{
      top:65px;
      left: 200px;
    }
    .customer-requirement .valid-ID,.customer-requirement .mayor-s-cert,.customer-requirement .bank-statement{
      top:110px;
      cursor: pointer;
      position: relative;
      width: 32%;
      left:40px;
    }
    .customer-requirement .requireddocument {
      font-size: 20px;
      left:20px;
    }
    .customer-requirement .reqdocdetails {
      font-size: 13px;
      left: 20px;
    }
    .customer-requirement .submit-btn {
      left: 20px;
      top: 740px;
      width: 92%;
      cursor: pointer;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .customer-requirement .body-bg {
      left: 10px;
      width: 100%;
    }
    .customer-requirement .requireddocumente {
      left: 10px;
      top: 440px;
      width: 94%;
    }
    
    .customer-requirement .overlap-4 {
      width:100%;
      left: 0px;
      display: flex;
      flex-wrap: wrap;
    }
    .customer-requirement .employed{
      top:65px;
      left: 85px;
    }
    .customer-requirement .selfemployed{
      top:65px;
      left: 300px;
    }
    .customer-requirement .valid-ID,.customer-requirement .mayor-s-cert,.customer-requirement .bank-statement{
      top:110px;
      cursor: pointer;
      position: relative;
      width: 33%;
      left:80px;
    }
    .customer-requirement .requireddocument {
      font-size: 20px;
      left:20px;
    }
    .customer-requirement .reqdocdetails {
      font-size: 13px;
      left: 20px;
    }
    .customer-requirement .submit-btn {
      left: 15px;
      top: 740px;
      width: 94%;
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
    .customer-requirement .body-bg {
      left: 10px;
      width: 100%;
    }
    .customer-requirement .requireddocumente {
      left: 10px;
      top: 440px;
      width: 96%;
    }
    
    .customer-requirement .overlap-4 {
      width:100%;
      left: 0px;
      display: flex;
      flex-wrap: wrap;
    }
    .customer-requirement .employed{
      top:65px;
      left: 85px;
    }
    .customer-requirement .selfemployed{
      top:65px;
      left: 300px;
    }
    .customer-requirement .valid-ID,.customer-requirement .mayor-s-cert,.customer-requirement .bank-statement{
      top:110px;
      cursor: pointer;
      position: relative;
      width: 33%;
      left:80px;
    }
    .customer-requirement .requireddocument {
      font-size: 20px;
      left:20px;
    }
    .customer-requirement .reqdocdetails {
      font-size: 13px;
      left: 20px;
    }
    .customer-requirement .submit-btn {
      left: 15px;
      top: 740px;
      width: 96%;
    }
  }
  