.modalBackground {
  height: 110%;
  background: #00000066;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 980;
  width: 100%;
  top: 1px;
}
.modal-content{
  margin-top: -200px;
  font-family: "Roboto", Helvetica;
}
.modal-body{
  display: grid;
  text-align: center;
}
#title-alert{
  font-weight: 700;
}
#text-alert{
  margin-top: 20px;
}
#Ok-btn{
  margin-left: 35%;
  margin-top: 20px;
  background-color: #FE0000;
  width: 100px;
  height: 90%;
  color: white;
  font-weight: 100px;
  border-radius: 5px;
  border-color: #FE0000;
}