.footer {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  font-family: "Roboto", Helvetica;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.left-side {
  flex: 1;
}

.right-side {
  flex: 1;
  text-align: right;
}

.right-side a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.right-side a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer-content {
    font-size: 12px;
  }
}
