.housing-content {
  padding: 30px;
  font-family: var(--font-family);
}

.housing-loan .card {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--bg-shadow);
  margin: 20px auto;
  max-width: 1024px;
  width: 100%;
  box-sizing: border-box;
}

.card .h-card-header img {
  width: 80px;
  height: 80px;
}

.h-card {
  display: flex;
  justify-content: space-around;
}

.h-card-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.h-card-text {
  max-width: 300px;
}

.h-ltxt {
  color:var(--text-red);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.33px;
  line-height: normal;
  white-space: nowrap;
  width: 170px;
}

.h-lrefno {
  color: var(--text-gray);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.33px;
  line-height: normal;
  white-space: nowrap;
}

.hl-inputs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  align-items: center;
  width: 400px;
}

.input-label {
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
  line-height: 21px;
  letter-spacing: -0.3px;
  color: var(--text-gray);
}

.input-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: end !important;
}

.input-wrapper input {
  width: 157px;
  height: 38px;
  padding: 10px;
  border-radius: var(--radius);
  margin-right: 10px;
  border: 1px solid;
  border-color: #555555;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}

.input-wrapper input::placeholder {
  color: var(--text-gray);
}

.pay-now-button {
  background-color: var(--red);
  color: white;
  padding: 8px 16px;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid;
  width: 136px;
  height: 35px;
  font-size: 15px;
}

.pay-now-button img {
  margin-right: 8px;
  width: 31px;
  height: 27px;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin: 50px 5px 30px 0;
}

.note {
  display: flex;
}

.note .paynote {
  width: 250px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  color: #888888;
  line-height: 16px;
  letter-spacing: -0.3px;
}
.rec-payment-txt {
  color: var(--text-red);
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
.rc-details {
  display: flex;
  flex-direction: column;
}

.hl-transactions {
  display: flex;
  margin-left: 30px;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-gray);
}

.hl-transactions .time {
  margin-left: 30px;
}

.hl-transactions .ammount {
  margin-left: 110px;
}

.disable-data {
  background-color: #ebebeb;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .housing-content {
    padding: 10px;
  }

  .card img {
    width: 50px;
    height: 50px;
    margin: 0px 10px 0 0;
  }

  .input-label {
    font-size: 14px;
  }

  .h-card-text {
    max-width: 130px;
  }

  .h-card-header {
    padding: 5px;
  }

  .hl-inputs {
    margin-top: 20px;
  }

  .h-ltxt {
    font-size: 18px;
  }

  .h-lrefno {
    font-size: 14px;
  }

  .hl-inputs .input-label {
    font-size: 16px;
    width: 150px;
    padding-right: 10px;
  }

  .hl-inputs .input-wrapper input {
    width: 130px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
  }

  .note .paynote {
    min-width: 140px;
    max-width: 210px;
    width: fit-content;
    margin-right: 10px;
    font-size: 14px;
  }

  .pay-now-button {
    border-radius: 5px;
    width: 126px;
    height: 30px;
    font-size: 14px;
  }

  .pay-now-button img {
    margin-right: 8px;
    width: 26px;
    height: 22px;
  }

  .rec-payment-txt {
    font-size: 18px;
  }

  .hl-transactions {
    margin-left: 15px;
    font-size: 14px;
  }

  .hl-transactions .ammount {
    margin-left: 50px;
  }
}
