.loan-type--main .prev-btn {
    width: 100%;
    margin: 20px 70px;
}

.loan-type--main .loan-type--body .selection-card {
    border: 2px solid #ff2800;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 760px;
    width: 100%;
    box-sizing: border-box;
}