.loan-type-selection--radios{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}
.loan-type-selection--radios .type {
    display: flex;
}

.loan-type-selection--radios .loan-type-circle{
    accent-color: #ff0000;
    margin: 0;
}

.loan-type-selection--radios .type, .loan-type-selection--radios .value {
    /* margin-left: 8px; */
    font-size: 18px;
    color: #555555;
}
