.loan-type-selection--radios{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}
.loan-type-selection--radios .type {
    display: flex;
}

.loan-type-selection--radios .type .loan-type-circle{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ff0000;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    background-clip: content-box;
    padding: 3px;
}

.loan-type-selection--radios .type, .loan-type-selection--radios .value {
    margin-left: 8px;
    font-size: 18px;
    color: #555555;
  }

  /* .loan-type-selection--radios .value {
    margin-left: 30px !important;
  } */
  