.second-hand-content {
  padding: 30px;
  font-family: "Roboto", Helvetica;
}

.loan-type .card {
  border: 2px solid #ff2800;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 760px;
  width: 100%;
  box-sizing: border-box;
}

.apply-btn {
  display: flex;
  justify-content: center;  
}

.loan-content {
  margin: 0 auto;
  max-width: 450px;
}

.second-hand-percent {
  max-width: 600px;
  margin-bottom: 20px;
}