.second-hand-content,
.new-loan-content {
  padding: 30px;
  font-family: "Roboto", Helvetica;
}

.loan-type .card,
.loan-type.new-loan .card {
  border: 1px solid #ff2800;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 760px;
  width: 100%;
  box-sizing: border-box;
}

.apply-btn {
  display: flex;
  justify-content: center;
}

.loan-content {
  margin: 0 auto;
  max-width: 450px;
}

.new-loan .loan-content {
  margin: 0 auto;
  max-width: 65%;
}

.second-hand-percent,
.new-loan-percent {
  max-width: 600px;
  margin-bottom: 20px;
}

.vehicle-circle,
.new-loan .vehicle-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ff0000;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-clip: content-box;
  padding: 3px;
}

.loan-vehicle-selection .main-content,
.new-loan .loan-vehicle-selection .main-content {
  padding: 20px;
  display: block !important;
  margin-left: -20px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.loan-vehicle-selection .value,
.new-loan .loan-vehicle-selection .value {
  margin-left: 20px;
  margin-top: -5px;
  font-size: 18px;
  color: #555555;
}

.loan-vehicle-selection .vehicle-circle,
.new-loan .loan-vehicle-selection .vehicle-circle {
  margin-bottom: 10px;
}

.form-group,
.new-loan .form-group {
  display: flex;
  margin-bottom: 20px;
}

.form-row,
.new-loan .form-row {
  margin-right: 20px;
}

.form-row input,
.new-loan .form-row input {
  padding: 5px;
  border: 1px solid #848484;
  border-radius: 4px;
  font-size: 18px;
  color: #555555;
}

.form-row input::placeholder,
.new-loan .form-row input::placeholder {
  font-size: 18px;
  font-weight: 400;
}

#year,
#color,
#plateNo {
  height: 37px;
  width: 170px;
}

#make,
#model,
#engineNo {
  height: 37px;
  width: 260px;
}

#chassisNo {
  height: 37px;
  width: 450px;
}

.new-loan .percentage-selection {
  display: flex;
  justify-content: flex-start;
}

.new-loan .percentage-selection .main-content {
  display: flex;
  gap: 105px;
  justify-content: center;
  flex-wrap: wrap;
}

.new-loan .loan-term-selection .main-content {
  gap: 55px;
  flex-wrap: wrap;
}

.loan-type--main .prev-btn {
  margin: 20px 70px;
}

.loan-type--main .loan-type--body .selection-card {
  border: 1px solid #ff2800;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 760px;
  width: 100%;
  box-sizing: border-box;
}

.loan-type-selection--radios {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}
.loan-type-selection--radios .type {
  display: flex;
}

.loan-type-selection--radios .loan-type-circle {
  accent-color: #ff0000;
  margin: 0;
}

.loan-type-selection--radios .type,
.loan-type-selection--radios .value {
  font-size: 18px;
  color: #555555;
}

.employee-type-selection--radios {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: 0 auto;
}
.employee-type-selection--radios .type {
  display: flex;
}

.employee-type-selection--radios .employee-type-circle {
  accent-color: #ff0000;
  margin: 0;
}

.employee-type-selection--radios .type,
.employee-type-selection--radios .value {
  font-size: 18px;
  color: #555555;
}

.required-radio-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.loan-type--main label {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  font-size: 18px;
  color: #555555;
  cursor: pointer;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

input[type="radio"] {
  margin-right: 8px;
  cursor: pointer;
  accent-color: #ff0000;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .second-hand-content,
  .new-loan-content {
    padding: 10px;
  }

  .required-radio-buttons {
    justify-content: start;
    margin-bottom: 10px;
  }

  .loan-type .new-loan .card {
    padding: 10px;
  }

  .form-group,
  .new-loan .form-group {
    display: block;
    margin-bottom: 0;
  }

  .input-label {
    text-align: right;
  }

  #year,
  #color,
  #plateNo,
  #make,
  #model,
  #engineNo,
  #chassisNo {
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;
  }

  .new-loan .loan-content {
    max-width: 90%;
  }
  .new-loan .percentage-selection .main-content {
    gap: 30px;
  }
  .new-loan .loan-term-selection .main-content {
    gap: 10px;
    flex-wrap: nowrap;
  }

  .loan-type--main .loan-type--body .selection-card {
    width: 95%;
    padding: 10px;
  }
  .loan-type--main .prev-btn {
    margin: 20px 30px;
  }

  .loan-type-selection--radios .type,
  .loan-type-selection--radios .value {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #year,
  #color,
  #plateNo,
  #make,
  #model,
  #engineNo,
  #chassisNo {
    max-width: 385px;
    width: 100%;
    margin-bottom: 20px;
  }

  .loan-type--main .loan-type--body .selection-card {
    width: 90%;
  }
  .loan-type--main .prev-btn {
    margin: 20px 30px;
  }
}
