.new-loan-content {
  padding: 30px;
  font-family: "Roboto", Helvetica;
}

.loan-type.new-loan .card {
  border: 2px solid #ff2800;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 760px;
  width: 100%;
  box-sizing: border-box;
}

.new-loan .apply-btn {
  display: flex;
  justify-content: center;
}

.new-loan .loan-content {
  margin: 0 auto;
  max-width: 65%;
}

.new-loan-percent {
  max-width: 600px;
  margin-bottom: 20px;
}

.new-loan .vehicle-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ff0000;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-clip: content-box;
  padding: 3px;
}

.new-loan .loan-vehicle-selection .main-content {
  padding: 20px;
  display: block !important;
  margin-left: -40px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.new-loan .loan-vehicle-selection .value {
  margin-left: 20px;
  margin-top: -5px;
  font-size: 18px;
  color: #555555;
}

.new-loan .loan-vehicle-selection .vehicle-circle {
  margin-bottom: 10px;
}

.new-loan .form-group {
  display: flex;
  margin-bottom: 20px;
}

.new-loan .form-row {
  margin-right: 20px;
}

.new-loan .form-row input {
  padding: 5px;
  border: 1px solid #848484;
  border-radius: 4px;
  font-size: 14px;
}

.new-loan .form-row input::placeholder {
  font-size: 18px;
  font-weight: 400;
}

#year,
#color,
#plateNo {
  height: 37px;
  width: 170px;
}

#make,
#model,
#engineNo {
  height: 37px;
  width: 260px;
}

#chassisNo {
  height: 37px;
  width: 450px;
}

.new-loan .percentage-selection{
  display: flex;
  justify-content:flex-start;
}
.new-loan .percentage-selection .main-content{
  display: flex;
  gap: 105px;
  justify-content: center;
  flex-wrap: wrap;
}
.new-loan .loan-term-selection .main-content{
  gap: 55px;
  flex-wrap: wrap;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .new-loan .form-group {
    display: block;
    margin-bottom: 0;
  }

  #year,
  #color,
  #plateNo,
  #make,
  #model,
  #engineNo,
  #chassisNo {
    max-width: 280px;
    width: 100%;
    margin-bottom: 20px;
  }
  .new-loan .loan-content{
    max-width: 90%;
  }
  .new-loan .percentage-selection .main-content{
    gap: 50px;
  }
  .new-loan .loan-term-selection .main-content{
    gap: 27px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #year,
  #color,
  #plateNo,
  #make,
  #model,
  #engineNo,
  #chassisNo {
    max-width: 385px;
    width: 100%;
    margin-bottom: 20px;
  }
  .new-loan .loan-content{
    max-width: 90%;
  }
  .new-loan .percentage-selection .main-content{
    gap: 70px;
  }
  .new-loan .loan-term-selection .main-content{
    gap: 35px;
  }
}
