.manage-loans {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.manage-loans .div {
  background-color: #fbfbfb;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.manage-loans .body-bg {
  width: 100%;
  margin: 20px 0px;
}

.manage-loans .past-loan-card {
  width: 100%;
  margin-top: 150px;
  margin: 100px auto auto auto;
}

/* .manage-loans .overlap {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e6e88452986c5d15a034da/img/pastloan-card.png);
  background-size: 100% 100%;
  height: 103px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
/* 
.manage-loans .overlap-group {
  height: 46px;
  width: 161px;
  background: none;
  margin: auto 50px;

} */

/* .manage-loans .pastloantxtt {
  color: #555555;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.33px;
  line-height: normal;
  top: 25px;
  white-space: nowrap;
} */
.manage-loans .loan-type.past{
  color: #888888;
}
.manage-loans .loan-type.past, 
.manage-loans .loan-type.current {
  font-family: "Roboto", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.33px;
  line-height: normal;
  top: 0;
  white-space: nowrap;
}

.manage-loans .loantype-icon {
  height: 50px;
  left: 64px;
  object-fit: cover;
  top: 21px;
  width: 50px;
}

/* .manage-loans .div-wrapper {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/dtlsbtn-card-1@2x.png);
  background-size: 100% 100%;
  height: 30px;
  position: relative;
  width: 164px;
} */

/* .manage-loans .text-wrapper {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 23px;
  left: 53px;
  letter-spacing: -0.33px;
  line-height: normal;
  text-align: center;
  top: 5px;
  width: 58px;
} */

.manage-loans .pastloanstxt, .manage-loans .currentloanstxt {
  color: #d20101;
  font-family: "Inter", Helvetica;
  font-size: 23px;
  font-weight: 600;
  left: 20px;
  letter-spacing: -0.25px;
  line-height: 24px;
  top: 0;
  white-space: nowrap;
}

.manage-loans .container {
  width: 45%;
  margin: 50px auto;
}

.manage-loans .current-loan-card {
  top: 65px;
  width: 100%;
  margin: auto;
}

/* .manage-loans .quick-cash-loan-card {
  height: 95px;
  left: 0;
  top: 191px;
  width: 100%;
  margin: 25px auto;
} */

.manage-loans .loan-card-container.current-loan, 
.manage-loans .loan-card-container.past-loan {
  background-size: 100% 100%;
  height: 103px;
  left: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manage-loans .loan-card-container.current-loan{
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/qclmng-card-1.png);
}
.manage-loans .loan-card-container.past-loan {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e6e88452986c5d15a034da/img/pastloan-card.png);
}

/* .manage-loans .overlap-group-2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/mng2-card-1@2x.png);
  background-size: 100% 100%;
  height: 30px;
  position: relative;
  width: 164px;
} */

/* .manage-loans .QC-lmngtxtt {
  color: #555555;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.33px;
  line-height: normal;
  width: 328px;
} */
/* 
.manage-loans .QC-lmngtxt {
  color: #ff2800;
  font-family: "Roboto", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.33px;
  line-height: normal;
  width: 312px;
} */

/* .manage-loans .qclmng-icon {
  height: 50px;
  object-fit: cover;
  top: 22px;
  width: 50px;
} */

.manage-loans .loan-card {
  height: 95px;
  left: 0;
  top: 68px;
  width: 100%;
  margin: 25px auto;
}

.manage-loans .details-overlap-3 {
  height: 61px;
  margin:auto auto auto 30px;
}

.manage-loans .reference-txt {
  color: #555555;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.33px;
  line-height: normal;
  top: 33px;
  width: 330px;
}

.manage-loans .loan-type.current {
  color: #ff2800;
}

.manage-loans .overlap-4 {
  height: 52px;
  position: relative;
  top: -1px;
  width: 51px;
}

.manage-loans .vector {
  height: 52px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 39px;
}

.manage-loans .rectangle {
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: #ff2800;
  height: 5px;
  left: 17px;
  position: absolute;
  top: 3px;
  width: 29px;
}

.manage-loans .img {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 12px;
  width: 22px;
}

.manage-loans .vector-2 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 16px;
  width: 22px;
}

.manage-loans .vector-3 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 20px;
  width: 22px;
}

.manage-loans .vector-4 {
  height: 2px;
  left: 15px;
  position: absolute;
  top: 27px;
  width: 32px;
}

.manage-loans .vector-5 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 30px;
  width: 30px;
}

.manage-loans .vector-6 {
  height: 2px;
  left: 21px;
  position: absolute;
  top: 33px;
  width: 27px;
}

.manage-loans .vector-7 {
  height: 2px;
  left: 22px;
  position: absolute;
  top: 35px;
  width: 26px;
}

.manage-loans .vector-8 {
  height: 2px;
  left: 21px;
  position: absolute;
  top: 38px;
  width: 27px;
}

.manage-loans .vector-9 {
  height: 2px;
  left: 20px;
  position: absolute;
  top: 41px;
  width: 27px;
}

.manage-loans .shape-copy {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 16px;
  width: 11px;
}

.manage-loans .p {
  height: 12px;
  left: 18px;
  position: absolute;
  top: 13px;
  width: 5px;
}

.manage-loans .ellipse {
  background-color: #e2b5b5;
  border: 2px solid;
  border-color: #ff2800;
  border-radius: 11.9px/10.14px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 24px;
}

.manage-loans .group {
  height: 12px;
  left: 4px;
  position: absolute;
  top: 29px;
  width: 15px;
}

/* .manage-loans .currentloanstxt {
  color: #d20101;
  font-family: "Inter", Helvetica;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: -0.25px;
  line-height: 24px;
  white-space: nowrap;
} */

.manage-loans .prev-btn {
  width: 100%;
  margin: auto 70px;
}

.manage-loans .custom-button{
  cursor: pointer;
}
.manage-loans .custom-button.add-btn {
  padding: 5px 60px;
  font-family: "Roboto", Helvetica;
  font-size: 20px;
  font-weight: 500;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/addbtn-card-1@2x.png);
  background-size: 100% 100%;
  color: white;
  border: none;

}

.manage-loans .current-loan-btn-container , 
.manage-loans .past-loan-btn-container{
  display: flex;
  justify-content: space-between;
  margin: auto 40px 30px 40px;
  align-items: center;
}
.manage-loans .icon-content{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
.manage-loans .custom-button.details-btn, 
.manage-loans .custom-button.manage-btn{
  border: none;
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 500;
  padding: 7px 60px;
  margin-right: 40px;

}

.manage-loans .custom-button.manage-btn{
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/mng2-card-1@2x.png);
  background-size: 100% 100%;
  /* border: none; */
}
.manage-loans .custom-button.details-btn{
  background-color: #FF7700;
  border-radius: 5px;
}

.manage-loans .loans-unavailable{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 20px;
  font-size: 19px;
  font-weight: bold;
  color: rgb(167, 164, 164);
}

/* MOBILE RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 480px)  {
  .manage-loans .body-bg{
    margin-top: 40px;
  }
    .manage-loans .container{
      width: 100%;
      margin-top: 20px;
    }
    .manage-loans .custom-prevbtn.prevpagebtn{
      position:initial;
    }
    .manage-loans .prev-btn{
      margin: auto 10px;
    }
    .manage-loans .past-loan-btn-container{
      margin: auto 10px;
    }
    .manage-loans .current-loan-btn-container{
      margin: auto 15px;
    }
    .manage-loans .custom-button.add-btn{
      padding: 5px 30px;
      font-size: 16px;
    }
    /* .manage-loans .currentloanstxt, 
    .manage-loans .pastloanstxt{
      font-size: 22px;
    } */
    .manage-loans .loan-card{
      width: 95%;
    }
    /* .manage-loans .loan-card-container{
      display: grid;
      grid-template-columns: 40% auto;
    } */
    /* .manage-loans .overlap{
      margin:25px auto;
    } */
    .manage-loans .icon-content{
      margin:auto 0px auto 15px;
    }
    .manage-loans .details-overlap-3{
      margin: auto 5px auto 15px;
    }
    .manage-loans .custom-button.manage-btn, .manage-loans .custom-button.details-btn{
      padding: 7px 10px;
      margin-right: 15px;
      font-size: 15px;
    }
    .manage-loans .loan-type.past, 
    .manage-loans .loan-type.current{
      font-size: 21px;
    }
    .manage-loans .reference-txt{
      font-size: 15px;
      width: 165px;
    }
    .manage-loans .footer{
      display: none;
    }
    
}

/* IPADS RESPONSIVE */

@media screen and (min-width: 481px) and (max-width: 768px)  {

  .manage-loans .container{
    width: 95%;
    margin-top: 20px;
  }
  .manage-loans .custom-prevbtn.prevpagebtn{
    position:initial;
  }
  .manage-loans .prev-btn{
    margin: auto 10px;
  }
  .manage-loans .current-loan-btn-container{
    margin: auto 30px;
  }
  .manage-loans .past-loan-btn-container{
    margin: auto 10px;
  }
  .manage-loans .custom-button.add-btn{
    padding: 5px 40px;
    font-size: 16px;
  }
  .manage-loans .currentloanstxt, .manage-loans .pastloanstxt{
    font-size: 22px;
  }
  /* .manage-loans .loan-card, .manage-loans .quick-cash-loan-card, .manage-loans .past-loan-card{
    width: 95%;
  } */
  .manage-loans .loan-card-container, .manage-loans .overlap{
    display: grid;
    grid-template-columns: 50% auto;
  }
  /* .manage-loans .overlap{
    margin:25px auto;
  } */
  .manage-loans .icon-content{
    margin:auto 0px auto 20px;
  }
  .manage-loans .details-overlap-3, .manage-loans .overlap-group{
    margin: auto 5px auto 15px;
  }
  .manage-loans .overlap-group{
    width: 100%;
  }
  .manage-loans .custom-button.manage-btn, .manage-loans .custom-button.details-btn{
    padding: 7px 20px;
    margin-right: 15px;
    font-size: 15px;
  }
  .manage-loans .loan-type , .manage-loans .QC-lmngtxt, .manage-loans .pastloantxt{
    font-size: 20px;
  }
  .manage-loans .reference-txt, .manage-loans .QC-lmngtxtt, .manage-loans .pastloantxtt{
    font-size: 17px;
  }
  .manage-loans .footer{
    display: none;
  }
  
}

/* LAPTOPS && DESKTOPS RESPONSIVE */

@media screen and (min-width: 769px) and (max-width: 1200px)  {
  .manage-loans .header{
    height: 10%;
  }
  .manage-loans .container{
    width: 90%;
    margin-top: 20px;
  }
  .manage-loans .custom-prevbtn.prevpagebtn{
    position:initial;
  }
  .manage-loans .prev-btn{
    margin: auto 10px;
  }
  .manage-loans .current-loan-btn-container{
    margin: auto 60px;
  }
  .manage-loans .past-loan-btn-container{
    margin: auto 20px;
  }
  .manage-loans .custom-button.add-btn{
    padding: 5px 50px;
    font-size: 16px;
  }
  .manage-loans .currentloanstxt, .manage-loans .pastloanstxt{
    font-size: 22px;
  }
  .manage-loans .loan-card{
    width: 90%;
  }
  .manage-loans .loan-card-container{
    display: grid;
    grid-template-columns: 50% auto;
  }
  /* .manage-loans .overlap{
    margin:25px auto;
  } */
  .manage-loans .icon-content{
    margin:auto 0px auto 40px;
  }
  .manage-loans .details-overlap-3, .manage-loans .overlap-group{
    margin: auto 5px auto 15px;
  }
  /* .manage-loans .overlap-group{
    width: 100%;
  } */
  .manage-loans .custom-button.manage-btn, .manage-loans .custom-button.details-btn{
    padding: 7px 30px;
    margin-right: 40px;
    font-size: 15px;
  }
  .manage-loans .loan-type , .manage-loans .QC-lmngtxt, .manage-loans .pastloantxt{
    font-size: 20px;
  }
  .manage-loans .reference-txt, .manage-loans .QC-lmngtxtt, .manage-loans .pastloantxtt{
    font-size: 17px;
  }
  .manage-loans .footer{
    display: none;
  }
  
}

/* EXTRA LARGE SCREENS RESPONSIVE */

 @media screen and (min-width: 1201px) and (max-width: 1350px) { 

  .manage-loans .container{
    width: 60%;
  }
  .manage-loans .custom-prevbtn.prevpagebtn{
    position:initial;
  }
  .manage-loans .prev-btn{
    margin: auto 10px;
  }
  .manage-loans .current-loan-btn-container{
    margin: auto 60px;
  }
  .manage-loans .past-loan-btn-container{
    margin: auto 60px;
  }
  .manage-loans .custom-button.add-btn{
    padding: 5px 50px;
    font-size: 16px;
  }
  .manage-loans .currentloanstxt, .manage-loans .pastloanstxt{
    font-size: 22px;
  }
  .manage-loans .loan-card{
    width: 90%;
  }
  .manage-loans .loan-card-container{
    display: grid;
    grid-template-columns: 50% auto;
  }
  .manage-loans .icon-content{
    margin:auto 0px auto 40px;
  }
  .manage-loans .details-overlap-3, .manage-loans .overlap-group{
    margin: auto 5px auto 15px;
  }
  .manage-loans .custom-button.manage-btn, .manage-loans .custom-button.details-btn{
    padding: 7px 30px;
    margin-right: 40px;
    font-size: 15px;
  }
  .manage-loans .loan-type , .manage-loans .QC-lmngtxt, .manage-loans .pastloantxt{
    font-size: 20px;
  }
  .manage-loans .reference-txt, .manage-loans .QC-lmngtxtt, .manage-loans .pastloantxtt{
    font-size: 17px;
  }
  .manage-loans .footer{
    display: none;
  }
  
} 