.top-bar {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e41e67e1c2a81b98b3c871/img/logo@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 34px;
    left: 37px;
    position: absolute;
    top: 19px;
    width: 200px;
}
/* @media screen and (min-width: 360px) and (max-width: 480px)  {
.top-bar{
    height:25px;
    width: 160px;
}
}
@media screen and (min-width: 481px) and (max-width: 768px)  {
    .top-bar{
        height:30px;
        width: 180px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px)  {
    .top-bar{
        height:34px;
        width: 200px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px)  {
    .top-bar{
        height:38px;
        width: 210px;
    }
}
@media screen and (min-width: 1201px){
    .top-bar{
        height:40px;
        width: 220px;
    }
} */