.loan-type {
  font-family: var(--font-family);
}

.loan-type-selection {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.loan-type .type {
  display: flex;
}

.type .value {
  margin-left: 8px;
  font-size: 18px;
  color: var(--text-gray);
}

.loan-type-circle,
.percentage-circle,
.term-circle {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--red);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-clip: content-box;
  padding: 3px;
}

.percentage-selection {
  display: flex;
  justify-content: center;
  margin-bottom: -20px !important;
}

.loan-type-circle.selected,
.percentage-circle.selected,
.term-circle.selected,
.vehicle-circle.selected {
  background-color: var(--red);
}

.loan-term-selection .value {
  margin-left: 40px !important;
}

.percentage-selection .value,
.loan-term-selection .value {
  display: flex;
  margin-left: 70px;
  font-size: 18px;
  color: var(--text-gray);
}

.content-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  gap: 120px;
  justify-content: center;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .loan-type .card {
    padding: 10px;
  }
  .loan-type-circle,
  .percentage-circle,
  .term-circle {
    width: 14px;
    height: 14px;
    margin-left: 15px !important;
  }

  .type .name {
    margin-right: 4px;
    font-size: 15px;
  }

  .type .value {
    margin-left: 6px;
    font-size: 14px;
  }
  .percentage-selection .value,
  .loan-term-selection .value {
    margin-left: 50px;
    font-size: 16px;
  }

  .main-content {
    gap: 50px;
  }
  .percentage-selection {
    justify-content: start;
  }
}
