:root {
  --x00-on-surface-medium-emphasis: rgba(0, 0, 0, 0.6);
  --border-color: #ff2800;
  --white: #ffffff;
  --radius: 4px;
  --font-family: "Roboto", Helvetica;
  --red: #FE0000;
  --bg-shadow: rgba(0, 0, 0, 0.4);
  --text-red: #D20101;
  --text-gray: #555555;
  --disable: #aaaaaa;
  --border-color-gray: #848484;
}