.customer-details-content {
  padding: 30px;
  font-family: var(--font-family);
}

.customer-details .card {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 760px;
  width: 100%;
  box-sizing: border-box;
}

input[type="date"]::before {
	color: var(--text-gray);
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: var(--text-gray);
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}





.customer-details-group {
  max-width: 400px;
  margin: 0 auto;
}

.map-details {
  display: flex;
}

.near-branch {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px;
}
.near-branch .c-details-address {
  font-size: 14px;
  color: var(--text-gray);
  cursor: pointer;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}

.near-branch .c-details-map {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.c-details-input {
  margin: 10px 0;
  position: relative;
}

.d-input,
#search_address {
  width: 100%;
  color: var(--text-gray);
  border: 1px solid var(--border-color-gray);
  font-size: 16px;
}
#search_address {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  padding: 11px;
}

#search_address:focus {
  outline: none;
  box-shadow: var(--red);
}

.d-input {
  border-radius: var(--radius);
  padding: 10px;
}

.d-select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color-gray);
  color: var(--text-gray);
  border-radius: var(--radius);
  font-size: 16px;
}

#search-btn {
  background-color: var(--red);
  color: white;
  word-spacing: 10px;
  font-weight: 750;
  padding: 12px;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: var(--border-color);
  font-size: 13px;
}

.d-select:focus,
.d-input:focus,
#search_address:focus {
  border-color: var(--border-color);
  outline: none;
}

.d-select option {
  background-color: var(--white);
}

.search-address-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 5px;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .customer-details-content {
    padding: 10px;
  }

  .customer-details .card {
    padding: 10px;
  }

  .near-branch {
    margin: 0 !important;
  }
}
