.dashboard {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard .dashboard-div {
  background-color: var(--white);
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dashboard .overlap {
  height: 707px;
  position: absolute;
  top: 71px;
  width: 100%;
}

.dashboard .body-bg {
  height: 425px;
  position: absolute;
  top: 282px;
  width: 100%;
}

.dashboard .floating-diamond {
  height: 287px;
  position: absolute;
  top: 25px;
  width: 1005;
}

.dashboard .img {
  height: 287px;
  left: 93%;
  position: absolute;
  top: 0;
  width: 135px;
}
.dashboard .content-card--wrapper {
  display: flex;
  gap: 10px;
}

.dashboard .salary {
  height: 143px;
  left: 63%;
  position: absolute;
  top: 282px;
  width: 306px;
}

.dashboard .overlap-group-3 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/scard-5@2x.png);
  background-size: 100% 100%;
  height: 151px;
  left: -4px;
  position: relative;
  width: 310px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}

.dashboard .overlap-group-sbl {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/scard-5@2x.png);
  background-size: 100% 100%;
  height: 151px;
  left: -4px;
  position: relative;
  width: 310px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}
.dashboard .overlap-group-pensioner {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/scard-5@2x.png);
  background-size: 100% 100%;
  height: 151px;
  left: -4px;
  position: relative;
  width: 310px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}
.dashboard .overlap-group-salary {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/scard-5@2x.png);
  background-size: 100% 100%;
  height: 151px;
  left: -4px;
  position: relative;
  width: 310px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}

.dashboard .overlap-4 {
  height: 74px;
  left: 26px;
  position: absolute;
  top: 13px;
  width: 217px;
}

.dashboard .stitle {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 48px;
  white-space: nowrap;
  width: 217px;
}

.dashboard .s-icon {
  height: 50px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50px;
}

.dashboard .s-desc {
  color: var(--text-gray);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  left: 29px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 94px;
  width: 268px;
}

.dashboard .pensioner {
  height: 143px;
  left: 40.5%;
  position: absolute;
  top: 282px;
  width: 306px;
}

.dashboard .ptitle {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  left: 19px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 68px;
  white-space: nowrap;
  width: 217px;
}

.dashboard .p-desc {
  color: var(--text-gray);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  left: 24px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 94px;
  width: 268px;
}

.dashboard .p-icon {
  height: 50px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 50px;
}

.dashboard .SBL {
  height: 143px;
  left: 18%;
  position: absolute;
  top: 282px;
  width: 306px;
}

.dashboard .SB-ltitle {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  left: 25px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 68px;
  width: 217px;
}

.dashboard .SBL-desc {
  color: var(--text-gray);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  left: 25px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 94px;
  width: 268px;
}

.dashboard .SBL-icon {
  height: 50px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 50px;
}

.dashboard .QCL {
  height: 143px;
  left: 63%;
  position: absolute;
  top: 82px;
  width: 306px;
}
.dashboard .overlap-group-qcl {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e492714fd92dc35e55a22f/img/scard-5@2x.png);
  background-size: 100% 100%;
  height: 151px;
  left: -4px;
  position: relative;
  width: 310px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}

.dashboard .QC-ltitle {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  left: 26px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 65px;
}

.dashboard .QCL-desc {
  color: var(--text-gray);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  left: 29px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 93px;
}

.dashboard .QCL-icon {
  height: 50px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 50px;
}

.dashboard .housing {
  height: 143px;
  left: 40.5%;
  position: absolute;
  top: 82px;
  width: 306px;
}

.dashboard .hltitle {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  left: 19px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 65px;
  white-space: nowrap;
  width: 136px;
}

.dashboard .h-desc {
  color: var(--text-gray);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  left: 24px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 93px;
}

.dashboard .h-icon {
  height: 50px;
  left: 19px;
  position: absolute;
  top: 7px;
  width: 50px;
}

.dashboard .overlap-group-4 {
  height: 52px;
  position: relative;
  top: -1px;
  width: 51px;
}

.dashboard .vector {
  height: 52px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 39px;
}

.dashboard .rectangle {
  background-color: #d9d9d9;
  border: 2px solid;
  border-color: var(--border-color);
  height: 5px;
  left: 17px;
  position: absolute;
  top: 3px;
  width: 29px;
}

.dashboard .vector-2 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 12px;
  width: 22px;
}

.dashboard .vector-3 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 16px;
  width: 22px;
}

.dashboard .vector-4 {
  height: 2px;
  left: 26px;
  position: absolute;
  top: 20px;
  width: 22px;
}

.dashboard .vector-5 {
  height: 2px;
  left: 15px;
  position: absolute;
  top: 27px;
  width: 32px;
}

.dashboard .vector-6 {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 30px;
  width: 30px;
}

.dashboard .vector-7 {
  height: 2px;
  left: 21px;
  position: absolute;
  top: 33px;
  width: 27px;
}

.dashboard .vector-8 {
  height: 2px;
  left: 22px;
  position: absolute;
  top: 35px;
  width: 26px;
}

.dashboard .vector-9 {
  height: 2px;
  left: 21px;
  position: absolute;
  top: 38px;
  width: 27px;
}

.dashboard .vector-10 {
  height: 2px;
  left: 20px;
  position: absolute;
  top: 41px;
  width: 27px;
}

.dashboard .shape-copy {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 16px;
  width: 11px;
}

.dashboard .p {
  height: 12px;
  left: 18px;
  position: absolute;
  top: 13px;
  width: 5px;
}

.dashboard .ellipse {
  background-color: #e2b5b5;
  border: 2px solid;
  border-color: var(--border-color);
  border-radius: 11.9px/10.14px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 24px;
}

.dashboard .group {
  height: 12px;
  left: 4px;
  position: absolute;
  top: 29px;
  width: 15px;
}

.dashboard .vehicle {
  height: 143px;
  margin-left: 18%;
  position: absolute;
  top: 82px;
  transition: all 0.2s ease-in;
  width: 306px;
}

.dashboard .overlap-5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e41e67e1c2a81b98b3c871/img/vlcard.png);
  background-size: 100% 100%;
  height: 151px;
  left: -4px;
  position: relative;
  width: 310px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
}

.dashboard .v-desc {
  color: var(--text-gray);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  left: 25px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 93px;
}

.dashboard .vltitle {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  left: 25px;
  letter-spacing: -0.33px;
  line-height: normal;
  position: absolute;
  top: 65px;
}

.dashboard .v-icon {
  height: 50px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 50px;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .dashboard .floating-diamond {
    display: none;
  }
  .dashboard .img {
    display: none;
  }
  .dashboard .body-bg {
    top: 150px;
  }
  .dashboard .vehicle {
    width: 100%;
    top: 0;
    left: 13px;
    margin: auto;
    cursor: pointer;
  }
  .dashboard .overlap-5 {
    height: 70%;
    width: 95%;
    top: 0;
  }
  .dashboard .v-desc {
    font-size: 14px;
    left: 100px;
    top: 40px;
  }

  .dashboard .vltitle {
    font-size: 20px;
    left: 105px;
    top: 8px;
  }

  .dashboard .v-icon {
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .dashboard .housing {
    width: 100%;
    top: 0;
    left: 13px;
    margin: auto;
  }
  .dashboard .overlap-group-3 {
    height: 70%;
    width: 95%;
    top: 105px;
  }
  .dashboard .hltitle {
    font-size: 20px;
    left: 105px;
    top: 7px;
  }

  .dashboard .h-desc {
    font-size: 14px;
    left: 100px;
    top: 40px;
  }
  .dashboard .h-icon {
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .dashboard .QCL {
    width: 100%;
    top: 0;
    left: 13px;
    margin: auto;
  }
  .dashboard .overlap-group-qcl {
    height: 70%;
    width: 95%;
    top: 210px;
  }
  .dashboard .QC-ltitle {
    font-size: 20px;
    left: 105px;
    top: 7px;
  }

  .dashboard .QCL-desc {
    font-size: 14px;
    left: 100px;
    top: 40px;
  }

  .dashboard .QCL-icon {
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .dashboard .SBL {
    width: 100%;
    top: 0;
    left: 13px;
    margin: auto;
  }
  .dashboard .overlap-group-sbl {
    height: 70%;
    width: 95%;
    top: 315px;
  }
  .dashboard .SB-ltitle {
    font-size: 20px;
    left: 105px;
    top: 7px;
  }

  .dashboard .SBL-desc {
    font-size: 14px;
    left: 100px;
    top: 40px;
  }

  .dashboard .SBL-icon {
    top: 15px;
    height: 50px;
    width: 50px;
  }
  .dashboard .pensioner {
    width: 100%;
    top: 0;
    left: 13px;
    margin: auto;
  }
  .dashboard .overlap-group-pensioner {
    height: 70%;
    width: 95%;
    top: 420px;
  }
  .dashboard .ptitle {
    font-size: 20px;
    left: 105px;
    top: 7px;
  }

  .dashboard .p-desc {
    font-size: 14px;
    left: 100px;
    top: 40px;
  }

  .dashboard .p-icon {
    top: 15px;
    height: 50px;
    width: 50px;
    left: 30px;
  }
  .dashboard .salary {
    width: 100%;
    top: 0;
    left: 13px;
    margin: auto;
  }
  .dashboard .overlap-group-salary {
    height: 70%;
    width: 95%;
    top: 525px;
  }
  .dashboard .stitle {
    font-size: 20px;
    left: 105px;
    top: 7px;
  }

  .dashboard .s-desc {
    font-size: 14px;
    left: 100px;
    top: 40px;
  }

  .dashboard .a-icon {
    top: 15px;
    height: 50px;
    width: 50px;
    left: 30px;
  }
  /* .dashboard .login-modal .modal-container{
        width: 90%;
    }
    .dashboard .login-modal .modal-inputbtn-wrapper{
        width: 80%;
    } */
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .dashboard .content-card--wrapper {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .dashboard .vehicle,
  .dashboard .housing,
  .dashboard .QCL,
  .dashboard .SBL,
  .dashboard .pensioner,
  .dashboard .salary {
    top: 0;
    margin:15px 0;
    cursor: pointer;
    position: relative;
    width: 47%;
    left: 0;
  }
  .dashboard .overlap-5,
  .dashboard .overlap-group-3,
  .dashboard .overlap-group-qcl,
  .dashboard .overlap-group-sbl,
  .dashboard .overlap-group-pensioner,
  .dashboard .overlap-group-salary {
    width: 100%;
    top: 0;
  }
  .dashboard .floating-diamond {
    display: none;
  }
  .dashboard .img {
    display: none;
  }
  .dashboard .body-bg {
    top: 200px;
  }
  .dashboard .v-desc,
  .dashboard .h-desc,
  .dashboard .QCL-desc,
  .dashboard .SBL-desc,
  .dashboard .p-desc,
  .dashboard .s-desc {
    font-size: 14px;
    left: 80px;
    top: 40px;
  }

  .dashboard .vltitle,
  .dashboard .hltitle,
  .dashboard .QC-ltitle,
  .dashboard .SB-ltitle,
  .dashboard .ptitle,
  .dashboard .stitle {
    font-size: 20px;
    left: 80px;
    top: 8px;
  }

  .dashboard .v-icon,
  .dashboard .h-icon,
  .dashboard .QCL-icon,
  .dashboard .SBL-icon,
  .dashboard .p-icon,
  .dashboard .s-icon {
    top: 35px;
    height: 50px;
    width: 50px;
    left: 15px;
  }
  .dashboard .QC-ltitle {
    width: 150px;
    left: 75px;
  }

  .dashboard .SB-ltitle {
    font-size: 20px;
    left: 80px;
    top: 8px;
    width: 150px;
  }

  .dashboard .SBL-desc {
    font-size: 14px;
    top: 60px;
    width: 150px;
  }
  .dashboard .ptitle {
    width: 150px;
    left: 70px;
  }

  .dashboard .p-desc {
    width: 150px;
  }
  .dashboard .stitle {
    font-size: 20px;
    left: 60px;
    top: 0;
  }

  .dashboard .s-desc {
    width: 150px;
    left: 80px;
  }

  .dashboard .s-icon {
    top: 15px;
    height: 50px;
    width: 50px;
    left: 0px;
  }
  .dashboard .login-modal .modal-container {
    width: 75%;
  }
  .dashboard .login-modal .modal-inputbtn-wrapper {
    width: 75%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .dashboard .content-card--wrapper {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .dashboard .vehicle,
  .dashboard .housing,
  .dashboard .QCL,
  .dashboard .SBL,
  .dashboard .pensioner,
  .dashboard .salary {
    top: 0;
    margin-left: 0;
    cursor: pointer;
    position: relative;
    width: 31%;
    left: 0;
  }
  .dashboard .overlap-5,
  .dashboard .overlap-group-3,
  .dashboard .overlap-group-qcl,
  .dashboard .overlap-group-sbl,
  .dashboard .overlap-group-pensioner,
  .dashboard .overlap-group-salary {
    width: 100%;
    top: 0;
  }
  .dashboard .floating-diamond {
    display: none;
  }
  .dashboard .img {
    display: none;
  }
  .dashboard .body-bg {
    top: 250px;
    left: 0;
    margin: auto;
  }
  .dashboard .v-desc,
  .dashboard .h-desc,
  .dashboard .QCL-desc,
  .dashboard .SBL-desc,
  .dashboard .p-desc,
  .dashboard .s-desc {
    font-size: 14px;
    left: 80px;
    top: 40px;
  }

  .dashboard .vltitle,
  .dashboard .hltitle,
  .dashboard .QC-ltitle,
  .dashboard .SB-ltitle,
  .dashboard .ptitle,
  .dashboard .stitle {
    font-size: 20px;
    left: 80px;
    top: 8px;
  }

  .dashboard .v-icon,
  .dashboard .h-icon,
  .dashboard .QCL-icon,
  .dashboard .SBL-icon,
  .dashboard .p-icon,
  .dashboard .s-icon {
    top: 35px;
    height: 50px;
    width: 50px;
    left: 15px;
  }
  .dashboard .QC-ltitle {
    width: 150px;
    left: 75px;
  }

  .dashboard .SB-ltitle {
    font-size: 20px;
    left: 80px;
    top: 8px;
    width: 150px;
  }

  .dashboard .SBL-desc {
    font-size: 14px;
    top: 60px;
    width: 150px;
  }
  .dashboard .ptitle {
    width: 150px;
    left: 70px;
  }

  .dashboard .p-desc {
    width: 150px;
  }
  .dashboard .stitle {
    font-size: 20px;
    left: 60px;
    top: 0;
  }

  .dashboard .s-desc {
    width: 150px;
    left: 80px;
  }

  .dashboard .s-icon {
    top: 15px;
    height: 50px;
    width: 50px;
    left: 0px;
  }
  .dashboard .login-modal .modal-container {
    width: 70%;
  }
  .dashboard .login-modal .modal-inputbtn-wrapper {
    width: 70%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .dashboard .content-card--wrapper {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .dashboard .vehicle,
  .dashboard .housing,
  .dashboard .QCL,
  .dashboard .SBL,
  .dashboard .pensioner,
  .dashboard .salary {
    top: 0;
    margin-left: 0;
    cursor: pointer;
    position: relative;
    width: 31%;
    left: 0;
  }
  .dashboard .overlap-5,
  .dashboard .overlap-group-3,
  .dashboard .overlap-group-qcl,
  .dashboard .overlap-group-sbl,
  .dashboard .overlap-group-pensioner,
  .dashboard .overlap-group-salary {
    width: 100%;
    top: 0;
  }
  .dashboard .floating-diamond {
    display: none;
  }
  .dashboard .img {
    display: none;
  }
  .dashboard .body-bg {
    top: 300px;
    left: 0;
    margin: auto;
  }
  .dashboard .v-desc,
  .dashboard .h-desc,
  .dashboard .QCL-desc,
  .dashboard .SBL-desc,
  .dashboard .p-desc,
  .dashboard .s-desc {
    font-size: 14px;
    left: 80px;
    top: 40px;
  }

  .dashboard .vltitle,
  .dashboard .hltitle,
  .dashboard .QC-ltitle,
  .dashboard .SB-ltitle,
  .dashboard .ptitle,
  .dashboard .stitle {
    font-size: 20px;
    left: 80px;
    top: 8px;
  }

  .dashboard .v-icon,
  .dashboard .h-icon,
  .dashboard .QCL-icon,
  .dashboard .SBL-icon,
  .dashboard .p-icon,
  .dashboard .s-icon {
    top: 35px;
    height: 50px;
    width: 50px;
    left: 15px;
  }
  .dashboard .QC-ltitle {
    width: 150px;
    left: 75px;
  }

  .dashboard .SB-ltitle {
    font-size: 20px;
    left: 80px;
    top: 8px;
    width: 150px;
  }

  .dashboard .SBL-desc {
    font-size: 14px;
    top: 60px;
    width: 150px;
  }
  .dashboard .ptitle {
    width: 150px;
    left: 70px;
  }

  .dashboard .p-desc {
    width: 150px;
  }
  .dashboard .stitle {
    font-size: 20px;
    left: 60px;
    top: 0;
  }

  .dashboard .s-desc {
    width: 150px;
    left: 80px;
  }

  .dashboard .s-icon {
    top: 15px;
    height: 50px;
    width: 50px;
    left: 0px;
  }
  .dashboard .login-modal .modal-container {
    width: 50%;
  }
  .dashboard .login-modal .modal-inputbtn-wrapper {
    width: 60%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .dashboard .content-card--wrapper {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .dashboard .vehicle,
  .dashboard .housing,
  .dashboard .QCL,
  .dashboard .SBL,
  .dashboard .pensioner,
  .dashboard .salary {
    top: 0;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    width: 27%;
    left: 0;
  }
  .dashboard .overlap-5,
  .dashboard .overlap-group-3,
  .dashboard .overlap-group-qcl,
  .dashboard .overlap-group-sbl,
  .dashboard .overlap-group-pensioner,
  .dashboard .overlap-group-salary {
    width: 100%;
    top: 0;
  }
  .dashboard .floating-diamond {
    display: none;
  }
  .dashboard .img {
    display: none;
  }
  .dashboard .body-bg {
    top: 400px;
    left: 0;
    margin: auto;
  }
  .dashboard .v-desc,
  .dashboard .h-desc,
  .dashboard .QCL-desc,
  .dashboard .SBL-desc,
  .dashboard .p-desc,
  .dashboard .s-desc {
    font-size: 15px;
    left: 85px;
    top: 55px;
  }

  .dashboard .vltitle,
  .dashboard .hltitle,
  .dashboard .QC-ltitle,
  .dashboard .SB-ltitle,
  .dashboard .ptitle,
  .dashboard .stitle {
    font-size: 22px;
    left: 90px;
    top: 20px;
    width: 190px;
  }

  .dashboard .v-icon,
  .dashboard .h-icon,
  .dashboard .QCL-icon,
  .dashboard .SBL-icon,
  .dashboard .p-icon,
  .dashboard .s-icon {
    top: 35px;
    height: 50px;
    width: 50px;
    left: 15px;
  }
  .dashboard .QC-ltitle {
    width: 190px;
    left: 80px;
  }

  .dashboard .SB-ltitle {
    font-size: 22px;
    left: 80px;
    top: 20px;
    width: 200px;
  }

  .dashboard .ptitle {
    width: 150px;
    left: 80px;
  }
  .dashboard .stitle {
    font-size: 22px;
    left: 60px;
    top: 0;
  }

  .dashboard .s-icon {
    top: 15px;
    height: 50px;
    width: 50px;
    left: 0px;
  }
  .dashboard .login-modal .modal-container {
    width: 50%;
  }
  .dashboard .login-modal .modal-inputbtn-wrapper {
    width: 60%;
  }
}
