.header {
    background-color: transparent;
    height: 307px;
    position: absolute;
    top: 0;
    width: 100%;
}

.header .overlap-group {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e41e67e1c2a81b98b3c871/img/banner-img.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 307px;
    position: relative;
    width: 100%;
}

.header .bannertitle {
    color: var(--white);
    font-family: var(--font-family);
    font-size: 47px;
    font-weight: 600;
    left: 59px;
    letter-spacing: 2.67px;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px var(--bg-shadow);
    top: 50px;
    width: 1005;
}

.header .existing-loan-btn {
    height: 54px;
    left: 283px;
    position: absolute;
    top: 181px;
    transition: all 0.2s ease;
    width: 100%;
}

.header .overlap-group-2 {
    border-radius: 12px;
    height: 54px;
    position: relative;
    width: 202px;

}

.header .overlap-2 {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 4px 4px var(--bg-shadow);
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 202px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px #c0c0c0;
        transform: scale(1.1);
    }
}

.header .m-ltxtt {
    color: #000000;
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 400;
    left: 84px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 5px;
    width: 50px;
}

.header .m-ltxt {
    color: #000000;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    left: 84px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
    width: 109px;
}

.header .ml-btn {
    height: 43px;
    left: 21px;
    position: absolute;
    top: 4px;
    width: 46px;
}

.header .download-btn {
    height: 54px;
    left: 59px;
    position: absolute;
    top: 181px;
    width: 206px;
}

.header .overlap-3 {
    border-radius: 12px;
    height: 54px;
    position: relative;
    width: 202px;
}

.header .dlcard {
    background-color: var(--white);
    border-radius: 12px;
    box-shadow: 0px 4px 4px var(--bg-shadow);
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 202px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px #c0c0c0;
        transform: scale(1.1);
    }
}

.header .dltxtt {
    color: #000000;
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 400;
    left: 84px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 5px;
}

.header .dltxt {
    color: #000000;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    left: 84px;
    letter-spacing: -0.33px;
    line-height: normal;
    position: absolute;
    top: 22px;
    white-space: nowrap;
}

.header .dl-btn {
    height: 40px;
    left: 13px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 53px;
}
.mobile-header{
    margin: 30px 0 20px 0;
}

.mobile-header .manage-loan--btn{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.mobile-header .manage-loan-btn{
    color: white;
    background: var(--red);
    outline: none;
    border-color: var(--red);
    font-size: 16px;
    padding: 8px 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: var(--radius);
    cursor: pointer;
    border: none;
}

.mobile-header .mobile-header--line{
    width: 89%;
}

@media screen and (min-width: 360px) and (max-width: 480px)  {
    .header {
        /* width: 100%;
        height: 120px;
        top: 0; */
        display: none;
    }
    .header .overlap-group {
        width: 100%;
        height: 125px;
        background-size:200%;
        background-repeat: no-repeat;
        top: 0;
    }
    .header .bannertitle {
        font-size: 24px;
        left:30px;
        top:20px;
    }
    .header .download-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    .header .overlap-3 {
        position: relative;
        top:60px;
        left: 25px;
    }
    
    .header .dlcard {
        width: 63%;
        height: 63%;
        border-radius: 5px;
    }
    
    .header .dltxtt {
        font-size: 12px;
        left: 35px;
        margin: 0px 0px 0px 8px;
        top:2px;
    }
    
    .header .dltxt {
        font-size: 12px;
        margin: 0px 0px 0px 8px;
        left: 35px;
        top: 14px;
    }
    
    .header .dl-btn {
        top: 7px;
        left: 10px;
        height: 17px;
        width: 29px;
    }
    .header .existing-loan-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    
    .header .overlap-group-2 {
        position: relative;
        top:60px;
        left: 160px;
    
    }
    
    .header .overlap-2 {
        width: 65%;
        height: 65%;
        border-radius: 5px;
    }
    
    .header .m-ltxtt {
        font-size: 13px;
        left: 35px;
        margin: 0px 0px 0px 8px;
        top:2px;
    }
    
    .header .m-ltxt {
        font-size: 12px;
        margin: 0px 0px 0px 8px;
        left: 35px;
        top: 16px;
    }
    
    .header .ml-btn {
        top:3px;
        left: 5px;
        height: 25px;
        width: 29px;
    }

}
 @media screen and (min-width: 481px) and (max-width: 768px)  {
    .header {
        /* width: 100%;
        height: 500px;
        top:0px; */
        display: none;
    }
    .header .overlap-group {
        width: 100%;
        height: 30%;
        background-size:120%;
        background-repeat: no-repeat;
        top: 0;
    }
    .header .bannertitle {
        font-size: 26px;
        left:30px;
        top:22px;
    }
    .header .download-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    .header .overlap-3 {
        position: relative;
        top:70px;
        left: 25px;
    }
    
    .header .dlcard {
        width: 60%;
        height: 60%;
        border-radius: 5px;
    }
    
    .header .dltxtt {
        font-size: 12px;
        left: 30px;
        margin: 2px 0px 0px 8px;
        top:0;
    }
    
    .header .dltxt {
        font-size: 12px;
        margin: 0px 0px 0px 8px;
        left: 30px;
        top: 12px;
    }
    
    .header .dl-btn {
        top:5px;
        left: 10px;
        height: 20px;
        width: 20px;
    }
    .header .existing-loan-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    
    .header .overlap-group-2 {
        position: relative;
        top:70px;
        left: 155px;
    
    }
    
    .header .overlap-2 {
        width: 60%;
        height: 60%;
        border-radius: 5px;
    }
    
    .header .m-ltxtt {
        font-size: 12px;
        left: 30px;
        margin: 2px 0px 0px 8px;
        top:0;
    }
    
    .header .m-ltxt {
        font-size: 12px;
        margin: 0px 0px 0px 8px;
        left: 30px;
        top: 12px;
    }
    
    .header .ml-btn {
        top:3px;
        left: 5px;
        height: 20px;
        width: 25px;
    }
        
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {
    .header {
        width: 100%;
        height: 70%;
        top:0px;
    }
    .header .overlap-group {
        width: 100%;
        height: 40%;
        background-size:120%;
        background-repeat: no-repeat;
        top: 0;
    }
    .header .bannertitle {
        font-size: 28px;
        left:30px;
        top:22px;
    }
    .header .download-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    .header .overlap-3 {
        position: relative;
        top:90px;
        left: 25px;
    }
    
    .header .dlcard {
        width: 80%;
        height: 80%;
        border-radius: 6px;
    }
    
    .header .dltxtt {
        font-size: 14px;
        left: 50px;
        margin: 2px 0px 0px 8px;
        top:0;
    }
    
    .header .dltxt {
        font-size: 14px;
        margin: 0px 0px 0px 8px;
        left: 50px;
        top: 16px;
    }
    
    .header .dl-btn {
        top:5px;
        left: 14px;
        height: 30px;
        width: 30px;
    }
    .header .existing-loan-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    
    .header .overlap-group-2 {
        position: relative;
        top:90px;
        left: 205px;
    
    }
    
    .header .overlap-2 {
        width: 80%;
        height: 80%;
        border-radius: 6px;
    }
    
    .header .m-ltxtt {
        font-size: 14px;
        left: 50px;
        margin: 2px 0px 0px 8px;
        top:0;
    }
    
    .header .m-ltxt {
        font-size: 14px;
        margin: 0px 0px 0px 8px;
        left: 50px;
        top: 16px;
    }
    
    .header .ml-btn {
        top:3px;
        left: 15px;
        height: 30px;
        width: 30px;
    }
        

}
@media screen and (min-width: 1025px) and (max-width: 1200px)  {
    .header {
        width: 100%;
        height: 70%;
        top:0px;
    }
    .header .overlap-group {
        width: 100%;
        height: 40%;
        background-size:120%;
        background-repeat: no-repeat;
        top: 0;
    }
    .header .bannertitle {
        font-size: 28px;
        left:30px;
        top:22px;
    }
    .header .download-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    .header .overlap-3 {
        position: relative;
        top:90px;
        left: 25px;
    }
    
    .header .dlcard {
        width: 80%;
        height: 80%;
        border-radius: 6px;
    }
    
    .header .dltxtt {
        font-size: 14px;
        left: 50px;
        margin: 2px 0px 0px 8px;
        top:0;
    }
    
    .header .dltxt {
        font-size: 14px;
        margin: 0px 0px 0px 8px;
        left: 50px;
        top: 16px;
    }
    
    .header .dl-btn {
        top:5px;
        left: 14px;
        height: 30px;
        width: 30px;
    }
    .header .existing-loan-btn {
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        margin: auto;;
    }
    
    .header .overlap-group-2 {
        position: relative;
        top:90px;
        left: 205px;
    
    }
    
    .header .overlap-2 {
        width: 80%;
        height: 80%;
        border-radius: 6px;
    }
    
    .header .m-ltxtt {
        font-size: 14px;
        left: 50px;
        margin: 2px 0px 0px 8px;
        top:0;
    }
    
    .header .m-ltxt {
        font-size: 14px;
        margin: 0px 0px 0px 8px;
        left: 50px;
        top: 16px;
    }
    
    .header .ml-btn {
        top:3px;
        left: 15px;
        height: 30px;
        width: 30px;
    }
    
}