.receipt {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .receipt .receipt-div {
    background-color: #fbfbfb;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .receipt .receipt-body-bg {
    height: 674px;
    left: 710px;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    top: 185px;
    /* width: 400px; */
    margin: 50px auto;
  }
  
  .receipt .receipt-content {
    height: 252px;
    left: 0;
    /* position: absolute; */
    top: 0;
    width: 400px;
  }
  
  .receipt .receipt-overlap-group-2 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64f13348e9f50c7315603815/img/receipt-card@2x.png);
    background-size: 100% 100%;
    height: 260px;
    /* left: -4px; */
    /* position: relative; */
    width: 404px;
    padding: 10px;
    margin: auto;
  }
  
  .receipt .receipttitle {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 22px;
    font-weight: 600;
    left: 34px;
    letter-spacing: -0.24px;
    line-height: 24px;
    /* position: absolute; */
    text-align: center;
    top: 32px;
    margin: 20px 5px;
    /* white-space: nowrap; */
  }
  
  .receipt .receiptdetails {
    color: #000000;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 49px;
    letter-spacing: -0.18px;
    line-height: 24px;
    /* position: absolute; */
    top: 80px;
    /* border: 1px solid #ff0000; */
    margin: auto 25px;
    display: flex;
    justify-content: space-around;
  }
  .receipt .success-note{
    color: #ff2800;
    top:260px;
    left: 40px;
    /* position: relative; */
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
  }
  
  .receipt .dashboard-back-btn {
    align-items: center;
    background: linear-gradient(180deg, rgb(254, 0, 0) 0%, rgb(210, 1, 1) 100%);
    border-radius: 4px;
    display: flex;
    gap: 10px;
    height: 62px;
    justify-content: center;
    left: 34px;
    padding: 16px;
    /* position: absolute; */
    top: 612px;
    /* width: 341px; */
    /* margin-top: 200px; */
    margin: 200px auto;
    cursor: pointer;
  }
  
  .receipt .receipt-dashboard {
    color: #ffffff;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.26px;
    line-height: 24px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .receipt .footer {
    background-color: #ff0000;
    height: 62px;
    left: 0;
    position: absolute;
    top: 962px;
    width: 100%;
  }
  
  .receipt .screenshot {
    height: 31px;
    left: 51px;
    object-fit: cover;
    position: absolute;
    top: 15px;
    width: 505px;
  }
  
  .receipt .img {
    height: 35px;
    left: 1160px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 81px;
  }
  
  .receipt .screenshot-2 {
    height: 38px;
    left: 1271px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 112px;
  }
  @media screen  and (min-width:320px) and (max-width:480px){
    .receipt .receipt-body-bg {
        left: 0;
        top: 185px;
        width: 100%;
      }
      .receipt .receipt-overlap-group-2 {
        /* position: relative; */
        margin: auto;
        width: 95%;
        left: 10px;
      }
      .receipt .receipt-content{
        width: 100%;
      }
      .receipt .receipttitle {
        font-size: 20px;
        left: 0;
        top: 20px;
        /* position: relative; */
      }
      .receipt .receiptdetails{
        font-size: 16px;
        /* left: 30px; */
        /* top: 30px; */
        /* position: relative; */
      }
      .receipt .dashboard-back-btn{
        width: 95%;
        height:50px;
        /* left: 15px; */
        margin-left: 10px;
        margin-right: 10px;
      }
      .receipt .receipt-dashboard{
        font-size: 18px;
      }
       .receipt .success-note{
        font-size: 13px;
      }
  }
  @media screen  and (min-width:481px) and (max-width:768px){
    .receipt .receipt-body-bg {
        left: 0;
        top: 185px;
        width: 85%;
      }
      .receipt .receipt-overlap-group-2 {
        /* position: relative; */
        width: 85%;
        left: 10px;
      }
      .receipt .receipt-content{
        width: 85%;
      }
      .receipt .receipttitle {
        font-size: 20px;
        left: 0;
        top: 20px;
        /* position: relative; */
      }
      .receipt .receiptdetails{
        font-size: 16px;
        left: 130px;
        /* width: 300px; */
        
        /* top: 30px; */
        /* position: relative; */
      }
      .receipt .dashboard-back-btn{
        width: 85%;
        height:50px;
        /* left: 15px; */
      }
      .receipt .receipt-dashboard{
        font-size: 18px;
      }
  }
  @media screen  and (min-width:769px) and (max-width:1024px){
    .receipt .receipt-body-bg {
        left: 0;
        top: 185px;
        width: 80%;
      }
      .receipt .receipt-overlap-group-2 {
        position: relative;
        width: 80%;
        left: 0;
      }
      .receipt .receipt-content{
        width: 80%;
      }
      .receipt .receipttitle {
        font-size: 20px;
        /* left: 0;
        top: 20px;
        position: relative; */
      }
      .receipt .receiptdetails{
        font-size: 16px;
        left: 250px;
        /* width: 300px; */
        
        /* top: 30px; */
        /* position: relative; */
      }
      .receipt .dashboard-back-btn{
        width: 80%;
        height:50px;
        left: 10px;
      }
      .receipt .receipt-dashboard{
        font-size: 18px;
      }
  }
  