.top-bar {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/64e41d552340cba66b90f01a/releases/64e41e67e1c2a81b98b3c871/img/logo@2x.png);
  background-size: cover;
  height: 50px;
  left: 37px;
  top: 19px;
  width: 100%;
  max-width: 16%;
  margin: 20px 20px;
}
#logout-button{
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: var(--radius);
  padding: 5px 10px;
  position: absolute;
  right: 30px;
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .top-bar {
    height: 40px;
    max-width: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 20px 10px;
  }
  #logout-button{
    right: 20px;
    top:25px;
    width: 90px;
    height: 30px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .top-bar {
    height: 60px;
    max-width: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 20px 10px;

  }
  #logout-button{
    right: 15px;
    top:30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top-bar {
    max-width: 100%;
    background-size: 28%;
    background-repeat: no-repeat;
    margin-top: 25px;
  }
  #logout-button{
    right: 25px;
    top:30px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1900px) {
  .top-bar {
    max-width: 100%;
    background-size: 18%;
    background-repeat: no-repeat;
  }
  #logout-button{
    right: 30px;
    top:30px;
    height: 35px;
  }
}

